body {
  background: #FAFAFA;
}

#top-section {
  background: #fdfdfd;
  padding: 5px 15px;
  border-bottom: 1px solid #bbb;
}

#title {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

#addinstable {
  padding: 15px;
  background: #FAFAFA;
  font-size: 16px;
}

#addinstable table {
  border: 1px solid #666;
  background: white;
}

#addinstable .dataTables_info {
  font-weight: bold;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

#addinstable tbody tr.pkgrow {
  cursor: pointer;
}

#addinstable tbody tr.pkgrow:hover,
#addinstable tbody tr.installed {
  background: lightgreen;
}

#addinstable tbody tr.installed:hover {
  background: #EE9C90;
}

#installing-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 2;
}

#installing-msg {
  margin-top: 100px;
  font-size: 37px;
  color: white;
  font-weight: bold;
}

#refresh {
  margin-left: 5px;
}

#last-updated {
  position: absolute;
  top: 10px;
  font-style: italic;
  right: 15px;
}